
/*ELEMENTOS DEL BODY*/

body{
    margin: 0;
    background-color: white;
    background-image: url(../images/paw-print-2.jpg);
    z-index: 2;
    width: 98vw;
}

.container-main-body{
    width: 98vw;
    margin-left: 0.5vw;
    margin-right: -10vw;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    
}

/*ELEMENTOS DEL HEADER*/

.header{
    margin: none;
    width: 98.7vw;
    height: 50px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4),rgba(240, 240, 240, 0.5)), url(../Images/header.jpg);
}

/*ELEMENTOS DEL NAVBAR*/
.bg-light{
    width: 98.7vw;
    background: rgb(255, 231, 211) !important;
}


.navbar a{
    padding-left: 15px;
    text-decoration: none;
    color: black;
    margin-right: 70px;
}

.navbar a:hover{
    color: rgb(207, 95, 95);
}



/*ELEMENTOS DEL CONTENT*/

.content{
    margin: 5px;
    width: 95%;
    margin-left: 2.5%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: center;

}

.contentTitle{
    text-align: center;
    justify-content: center;
    align-content: center;

    font-family: 'Brush Script MT', cursive;
    font-size: 32px;

    border-top-left-radius: 37px 27px;
    border-top-right-radius: 37px 27px;


}

.contentBody{
    display: flex;
    flex-flow: row nowrap;
    text-align: justify;
    
}

.contentBodyRace{
    width: 30%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.contentBodyRaceButtons{
    width: 80%;
    height: 320px;
    margin-left: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: antiquewhite;

    border-top-left-radius: 37px 27px;
    border-top-right-radius: 37px 27px;
    border-bottom-left-radius: 37px 15px;
    border-bottom-right-radius: 37px 15px;

    display: flex;
    flex-flow: column nowrap;
    text-align: justify;
    justify-content: space-evenly;
    align-content: space-around;
}

.contentBodyRaceButtons button{
    color: olive;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;

    margin-left: 20%;
    margin-right: 20%;
}

.contentBodyInfo{
    width: 70%;
    text-align: center;
    justify-content: center;
    align-content: center;

    display: flex;
    flex-flow: column nowrap;
}

.contentBodyInfoImagen{
    width: 80%;
    height: 200px;
    margin-left: 0%;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;

    background-color: antiquewhite;
    background-image: url(../Images/banner-vet-2.jpg);

    border-top-left-radius: 37px 27px;
    border-top-right-radius: 37px 27px;
}

.contentBodyInfoTexto{
    width: 80%;
    height: 100px;
    margin-left: 0%;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: center;
    justify-content: center;
    align-content: center;

    display: flex;
    flex-flow: column nowrap;

    background-color: antiquewhite;
    border-bottom-left-radius: 37px 15px;
    border-bottom-right-radius: 37px 15px;

    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
}
/*ELEMENTOS DEl Footer*/

.footer{
    margin: 5px;
    width: 99%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;

    border-top-left-radius: 37px 27px;
    border-top-right-radius: 37px 27px;
    border-bottom-left-radius: 37px 15px;
    border-bottom-right-radius: 37px 15px;
    box-shadow: rgb(255, 210, 167) 0px 30px 60px -12px inset, rgba(250, 235, 215) 0px 18px 36px -18px inset;
    /*box-shadow: rgb(181, 226, 215) 0px 30px 60px -12px inset, rgb(200, 228, 221) 0px 18px 36px -18px inset;*/
}

.footerSocial{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
}

.footerMadeBy{
    text-align: center;
    justify-content: center;
    align-content: center;
}

.footerNombres{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
}

#footerLuis{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: space-evenly;
    align-content: center;
}

#footerMaria{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: space-around;
    align-content: center;
}

#twitter {
    width: 60px;
    height: 60px;
}

#instagram {
    width: 60px;
    height: 60px;
}

#facebook {
    width: 60px;
    height: 60px;
}

#youtube {
    width: 60px;
    height: 60px;
}


/*ELEMENTOS DE VACUNACION.HTML*/


/*ELEMENTOS DE LA LANDING PAGE*/

.body-index{
    background-image: none;

}

.wrapper-index{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(207, 95, 95, 0.2),rgba(0, 0, 0, 0.4)), url(images/493535.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    text-align: right;
    
}


.main-section-index{
    width: 50%;
    line-height: 1;
    margin-bottom: 20vh;
    margin-right: 15vh;
}

.content-index h1{
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.5px;
    color: antiquewhite;
    margin-right: 5vh;
}

.content-index p{
    font-size: 17px;
    line-height: 1.5;
    color: antiquewhite;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-bottom: 5vh;

}

.content-index.button-index{
    margin-top: 5vh;
}

.content-index .button-index a{
    font-size: 20px;
    background-color: rgb(255, 210, 167);
    border-top-left-radius: 15px 11px;
    border-top-right-radius: 15px 11px;
    border-bottom-left-radius: 15px 11px;
    border-bottom-right-radius: 15px 11px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 20px;
    color: black;
    letter-spacing: 1.5px;
    margin-left: 5vh;
    margin-right: 5vh;
}

.content-index .button-index a:hover{
    background-color: rgb(207, 95, 95);
    transition: 2s ease;
}


/*ELEMENTOS SLIDER HOME */


 #about{
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-flow: column nowrap;

    text-align: center;
    justify-content: space-evenly;
    align-content: space-around;

    border: 6px solid rgba(199, 108, 108, 0.4);
    background-color: antiquewhite;

    font-size: 17px;
 }